@import 'colors';

$font_size: 15px;
$variable_name: body header;

body {
    background-color: gray;

    font-family: Arial, Helvetica, sans-serif;

    color: $primary_color;

    font-size: 100%;

    // filter: blur(10px);

    header {
        font-size: $font_size;

        nav {
            padding: $font_size;
        
            border: 1px solid $primary_color;

            a {
                border: 1px solid red;

                // & = body header nav a
                &:hover {
                    border: 1px solid blue;
                }
            }
        }
    }
}

.box {
    width: 1em;
    height: 1em;
}

a {
    border: 1px solid green;
}


.square {
    width: 1em;
    height: 1em;
}

.messages {
    .alert {

        // .messages .alert-error
        &-error {
            color: red;
        }

        &-info {
            color: blue;
        }

        &:nth-child(2) {

        }

    }
}